<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% Figure.all.each do |figure| %>
    <h1>Name: <%= figure.name %></h1>
    <% end %>
  </body>
</html>
