<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Name: <%= @figure.name %></h1>
    <% @figure.landmarks.each do |landmark| %>
    <h2>Landmark: <%= landmark.name %></h2>
    <% end %>
  </body>
</html>
